@use "./utilities/index" as *;

.navbar {
	height: 80px;
	padding: 1em 2em;
	z-index: 10;

	&--active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: $white;
	}

	&__logo {
		font-family: $secondaryFont;
		text-decoration: none;
		font-weight: 600;
		font-size: $text-3xl;
		color: $dark_9;
	}
	&__navigation {
		@include flex(row, center, space-between);
	}
	&__container {
		position: fixed;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		background-color: $white;
		transform: translateX(200%);
		transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

		&--active {
			top: 80px;
			overflow-y: hidden;
			transform: translateX(0%);
		}

		@include md {
			position: relative;
			height: auto;
			transform: translateX(0%);
		}
	}

	&__menu {
		@include flex(column);
		padding: 0em 2em;

		@include md {
			flex-direction: row;
			padding: 0em;
		}
	}

	&__link {
		list-style: none;
		padding: 0.6em;

		&-item {
			font-family: $secondaryFont;
			font-size: $text-xl;
			color: $dark_7;
			padding: 0.5em 1em;
			text-decoration: none;
			transition: color ease 0.3s;

			&:hover {
				color: $primary_hover;
			}
		}

		&:nth-child(3) {
			margin-bottom: 2em;
		}

		@include md {
			&-item {
				font-size: $text-sm;
				padding: 0.5em 1.5em;
			}
			&:nth-child(3) {
				margin-bottom: 0em;
			}
		}
	}

	@include md {
		position: relative;
		@include flex();
		height: 100px;
		padding: 2em 2em;
		background-color: $white;
	}
}

.header {
	&__container {
		@include flex(column);
		@include md {
			flex-direction: row;
			align-items: stretch;
		}

		&-text {
			padding: 8em 2em;
			@include flex(column, flex-start);
			background-color: $dark_9;

			@include md {
				width: 60%;
				padding: 10em 4em;
			}

			@include lg {
				min-height: 600px;
				width: 50%;
			}

			@include xl {
				min-height: 800px;
			}
		}

		&-title {
			@include header_h1();
			color: $white;
			margin-bottom: 0.5em;
		}

		&-paragraph {
			@include subheader();
			color: $white;
			margin-bottom: 2em;
		}
	}
	&__container-img {
		display: none;

		@include md {
			display: block;
			background-image: url("../img/header_small.jpg");
			background-position: center;
			object-fit: cover;
			width: 40%;
		}

		@include lg {
			width: 50%;
		}

		@include xxl {
			background-image: url("../img/header_large.jpg");
			background-position: 35% 15%;
		}
	}
}

.benefits {
	position: relative;
	padding: $sp-sm;
	background-color: $grey;
	@include lg {
		padding: $sp-lg;
	}
	@include xl {
		padding: $sp-xl;
	}

	&__boxes {
		@include flex(column);

		@include md {
			flex-direction: row;
		}
	}
	&__box {
		@include flex(column);
		margin-bottom: 4em;
		&:last-child {
			margin-bottom: 0em;
		}

		@include md {
			margin-bottom: 0em;
		}

		@include xl {
			flex-direction: row;
			align-items: flex-start;
		}

		&-text {
			text-align: center;
			@include md {
				padding: 1.5em;
			}

			@include xl {
				padding: 0em 2em;
				text-align: left;
			}
		}

		&-title {
			@include header_h6();
			margin-bottom: 0.5em;
		}

		&-text {
			@include body_1();
		}
	}
}

.content {
	position: relative;
	padding: $sp-sm;

	@include lg {
		padding: $sp-lg;
	}
	@include xl {
		padding: $sp-xl;
	}

	&__container {
		@include flex(column);
		// border-bottom: 1px solid $dark_2;
	}

	&__block {
		@include flex(column);
		margin-bottom: 6em;
		&:last-child {
			margin-bottom: 0em;
		}

		@include md {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 8em;

			&--left {
				flex-direction: row-reverse;
			}
		}

		&-text {
			@include md {
				width: 45%;
			}

			@include xl {
				width: 40%;
			}
		}

		&-paragraph {
			@include body_1();
			margin-bottom: 2em;
		}

		&-img {
			width: 100%;
			height: 248px;
			object-fit: cover;
			border-radius: 8px;
			margin-top: 2.5em;

			@include md {
				margin: 0em;
				height: 400px;
			}

			@include xl {
				height: 548px;
			}
		}
	}
}

.reviews {
	position: relative;
	padding: $sp-sm;

	@include lg {
		padding: $sp-lg;
	}
	@include xl {
		padding: $sp-xl;
	}

	&__box {
		position: relative;
	}

	&__container {
		@include flex(column);
		margin: 0 auto;
		width: 100%;
		max-width: 900px;

		&-paragraph {
			@include body_1();
			padding: 2em 0em;
			text-align: center;
		}

		&-photo {
			height: 46px;
			width: 46px;
			margin-bottom: 2em;
		}

		&-subheader {
			@include subheader();
			color: $dark_9;
		}

		&-description {
			@include body_1();
			color: $dark_7;
		}
	}

	&__arrows {
		&-arrow {
			position: absolute;
			height: 28px;
			width: 28px;
			padding: 0.5em;
			border: 1px solid $grey_100;
			border-radius: 50%;
			fill: $primary;
			cursor: pointer;
			transition: background-color ease 0.3s;

			@include xl {
				top: 50%;
			}

			&:hover {
				background-color: $primary_lighter;
			}

			&:active {
				background-color: $primary_200;
			}

			&--left {
				left: 0px;
			}

			&--right {
				right: 0px;
			}
		}
	}
}

.blog {
	position: relative;
	background-color: $grey;
	padding: $sp-sm;

	@include lg {
		padding: $sp-lg;
	}
	@include xl {
		padding: $sp-xl;
	}

	&__header {
		@include flex(row, center, space-between);
		margin-bottom: 4em;

		&-title {
			@include header_h2();
		}
	}

	&__cards {
		@include flex(column);
		margin-bottom: 6em;

		@include md {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		@include xl {
			margin-bottom: 10em;
		}
	}

	&__card {
		margin-bottom: 6em;
		&:last-child {
			margin-bottom: 0em;
		}

		@include md {
			width: 46%;
		}

		@include lg {
			width: 30%;
			margin-bottom: 0em;
		}

		@include xl {
			width: 31.766%;
		}

		&-img {
			width: 100%;
			height: 260px;
			object-fit: cover;
			border-radius: 8px;

			@include md {
				height: 320px;
			}
		}

		&-body {
			@include flex(column, flex-start);
		}

		&-category {
			@include caption_1();
			color: $primary_active;
			margin-top: 1em;
		}

		&-title {
			@include header_h6();
			color: $dark_9;
			margin-top: 0.75em;
		}

		&-text {
			@include body_1();
			color: $dark_8;
			margin-top: 0.75em;
		}

		&-calendary {
			@include flex();
			margin-top: 1.25em;
		}

		&-date {
			@include caption_1();
			color: $dark_6;
			margin-left: 0.688em;
		}
	}

	&__cta {
		background-color: $dark_9;
		padding: 4em 2em;

		@include xl {
			padding: 8em 2em;
		}

		&-container {
			@include flex(column);
			margin: 0 auto;
			width: 100%;
			max-width: 555px;
		}

		&-paragraph {
			@include body_1();
			text-align: center;
			color: $white;
			margin-bottom: 2em;
		}
	}
}

.contact {
	position: relative;
	padding: $sp-sm;

	@include lg {
		padding: $sp-lg;
	}
	@include xl {
		padding: $sp-xl;
	}

	&__container {
		@include flex(column-reverse);

		@include lg {
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
		}

		&-img {
			width: 100%;
			margin-bottom: 2em;

			@include lg {
				width: 49%;
				margin-bottom: 0em;
			}
		}

		&-field {
			@include flex(column);
			@include md {
				flex-direction: row;
				justify-content: space-between;
			}
		}

		&-form {
			width: 100%;

			@include lg {
				width: 49%;
			}
		}

		&-check {
			@include flex(row, flex-start);

			label {
				@include body_2();
				margin-left: 1em;
			}
		}
	}

	&__form {
		padding: 4em;
		background-color: $primary_lightest;
		border-radius: 8px;

		&-title {
			@include header_h3();
			color: $dark_9;
			margin-bottom: 1em;
		}

		&-box {
			position: relative;
			display: flex;
			width: 100%;

			@include md {
				width: 48%;
			}

			&--full {
				@include md {
					width: 100%;
				}
			}
		}

		&-input,
		&-textarea {
			// position: relative;
			padding: 1.5em 1.25em;
			background: $white;
			border: 1px solid $grey_100;
			border-radius: 2px;
			cursor: pointer;
			outline: none;
			margin-bottom: 1.5em;
			width: 100%;
			transition: border-color ease 0.3s, font-size ease 0.3s;

			&:hover {
				border-color: $dark_4;
			}

			&:active,
			&:focus {
				border-color: $primary_500;
			}

			&:focus ~ label {
				transform: translateY(-27px) translateX(8px);
				font-size: 0.7rem;
			}
		}

		&-textarea {
			width: 100%;
			resize: vertical;
			height: 250px;
			min-height: 250px;
			max-height: 250px;
		}

		&-label {
			position: absolute;
			top: 15px;
			left: 10px;
			padding: 0em 1em;
			@include body_1();
			color: $dark_7;
			background-color: $white;
			transition: transform ease 0.3s;
		}

		&-check {
			position: relative;
			border: 1px solid $dark_5;
			border-radius: 2px;
			height: 20px;
			width: 25%;
			cursor: pointer;
			z-index: 99;

			@include md {
				width: 20px;
			}

			@include lg {
				width: 60px;
			}

			&:checked {
				background: $primary;
			}
		}

		&-button {
			display: flex;
			justify-content: center;
			margin-top: 2em;
			@include md {
				justify-content: flex-end;
			}
		}
	}

	&__img {
		width: 100%;
		object-fit: cover;
		border-radius: 8px;

		@include md {
			height: 340px;
		}

		@include lg {
			height: 100%;
		}
	}
}

.footer {
	position: relative;
	background-color: $grey;
	padding: 6em 0em;

	@include lg {
		padding: 8em 0em;
	}
	@include xl {
		padding: 10em 0em;
	}

	&__container {
		@include flex(column);
		padding: 0em 2em 2em 2em;

		@include md {
			flex-direction: row;
			justify-content: space-between;

			&--second {
				flex-direction: column;

				@include lg {
					flex-direction: row;
					margin-top: 4em;
				}
			}
		}
	}

	&__menu {
		@include flex(column);

		@include md {
			flex-direction: row;
		}
	}

	&__link {
		list-style: none;
		padding: 0.6em;

		&-item {
			font-family: $secondaryFont;
			font-size: $text-xl;
			color: $dark_7;
			padding: 0.5em 1em;
			text-decoration: none;
			transition: color ease 0.3s;

			&:hover {
				color: $primary_hover;
			}
		}

		@include md {
			&-item {
				font-size: $text-sm;
				padding: 0.5em 1.5em;
			}
			&:nth-child(3) {
				margin-bottom: 0em;
			}
		}
	}

	&__box {
		@include flex(column);
		@include body_2();
		color: $dark_7;

		@include md {
			flex-direction: row;
		}

		&-info {
			padding: 0.5em 1em;
		}

		&-link {
			color: $dark_7;
			padding: 0.5em 1em;
			text-decoration: none;
			transition: color ease 0.3s;

			&:hover {
				color: $primary_hover;
			}
		}
	}

	&__icons {
		@include flex(row, center, space-between);
		margin-top: 2em;
		width: 50%;

		@include md {
			width: 20%;
		}

		@include lg {
			margin: 0em;
			width: 15%;
		}

		&-icon {
			background-color: $white;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			padding: 0.8em;

			&:hover {
				background-color: $primary_lightest;
			}

			&:active {
				background-color: $primary_200;
			}
		}
	}
}
