@use "./utilities/index" as *;

.navbar {
	height: 80px;
	padding: 1em 2em;

	&--active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: $white;
	}

	&__logo {
		font-family: $secondaryFont;
		text-decoration: none;
		font-weight: 600;
		font-size: $text-3xl;
		color: $dark_9;
	}
	&__navigation {
		@include flex(row, center, space-between);
	}
	&__container {
		position: fixed;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		background-color: $white;
		transform: translateX(200%);
		transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

		&--active {
			top: 80px;
			overflow-y: hidden;
			transform: translateX(0%);
		}

		@include md {
			position: relative;
			height: auto;
			transform: translateX(0%);
		}
	}

	&__menu {
		@include flex(column);
		padding: 0em 2em;

		@include md {
			flex-direction: row;
			padding: 0em;
		}
	}

	&__link {
		list-style: none;
		padding: 0.6em;

		&-item {
			font-family: $secondaryFont;
			font-size: $text-xl;
			color: $dark_7;
			padding: 0.5em 1em;
			text-decoration: none;
			transition: color ease 0.3s;

			&:hover {
				color: $primary_hover;
			}
		}

		&:nth-child(3) {
			margin-bottom: 2em;
		}

		@include md {
			&-item {
				font-size: $text-sm;
				padding: 0.5em 1.5em;
			}
			&:nth-child(3) {
				margin-bottom: 0em;
			}
		}
	}

	@include md {
		position: relative;
		@include flex();
		height: 100px;
		padding: 2em 2em;
		background-color: $white;
	}
}

.header {
	&__container {
		@include flex(column);
		@include md {
			flex-direction: row;
			align-items: stretch;
		}

		&-text {
			padding: 8em 2em;
			@include flex(column, flex-start);
			background-color: $dark_9;

			@include md {
				width: 60%;
				padding: 10em 4em;
			}

			@include lg {
				min-height: 600px;
				width: 50%;
			}

			@include xl {
				min-height: 800px;
			}
		}

		&-title {
			@include header_h1();
			color: $white;
			margin-bottom: 0.5em;
		}

		&-paragraph {
			@include subheader();
			color: $white;
			margin-bottom: 2em;
		}
	}
	&__container-img {
		display: none;

		@include md {
			display: block;
			background-image: url("../img/header_small.jpg");
			background-position: center;
			object-fit: cover;
			width: 40%;
		}

		@include lg {
			width: 50%;
		}

		@include xxl {
			background-image: url("../img/header_large.jpg");
			background-position: 35% 15%;
		}
	}
}

.benefits {
	position: relative;
	padding: $sp-sm;
	background-color: $grey;
	@include lg {
		padding: $sp-xl;
	}

	&__boxes {
		@include flex(column);

		@include md {
			flex-direction: row;
		}
	}
	&__box {
		@include flex(column);
		margin-bottom: 4em;
		&:last-child {
			margin-bottom: 0em;
		}

		@include md {
			margin-bottom: 0em;
		}

		@include xl {
			flex-direction: row;
			align-items: flex-start;
		}

		&-text {
			text-align: center;
			@include md {
				padding: 1.5em;
			}

			@include xl {
				padding: 0em 2em;
				text-align: left;
			}
		}

		&-title {
			@include header_h6();
			margin-bottom: 0.5em;
		}

		&-text {
			@include body_1();
		}
	}
}
