@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600&display=swap");

//Colors
$primary: #6e9eff;
$primary_hover: #5086f2;
$primary_active: #3f69bf;
$primary_lightest: #f7f9ff;
$primary_lighter: #e5eeff;
$primary_200: #d2e1ff;
$dark_2: #dee1e6;
$dark_4: #cfd3db;
$dark_7: #858993;
$dark_9: #242529;
$succes: #329f32;
$warning: #c90d0d;
$black: #000000;
$white: #ffff;
$grey: #f9f9fa;
$grey_100: #ecedf0;
//Typography
$primaryFont: "Inter", sans-serif;
$secondaryFont: "Poppins", sans-serif;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;

//Spacing
$sp-sm: 6em 2em;
$sp-lg: 8em 2em;
$sp-xl: 10rem 2em;
